# For loop
# for i in list:

In [1]:
#looping in a list
fruits = ["mango", "orange","banana","kiwi"]

In [2]:
for i in fruits:
    print(i)

mango
orange
banana
kiwi

In [5]:
#looping in a string
place = "Rajgir"
for prajjwal in place:
    print(prajjwal)
else:
    print("the loop is completed")

R
a
j
g
i
r
the loop is completed

In [7]:
names = ["Anurag", "Nuralfin", "Nattawat", "Nishita", "Prajjwal", "Marjia", "Arka"]
for name in names:
    print("Hi", name)

Hi Anurag
Hi Nuralfin
Hi Nattawat
Hi Nishita
Hi Prajjwal
Hi Marjia
Hi Arka

In [ ]:
#multiply each element of the list by 5 using for loop
list = [1,2,3,5,7,9]

In [8]:
list = [3,54,7,8,9,2]
for multiple in list:
    print(5*multiple)

15
270
35
40
45
10

In [9]:
list= [1, 2, 3, 4, 5]
for multiply in list:
    print(5*multiply)

5
10
15
20
25

In [13]:
#adding the numbers in a list
list = [3,54,7,8,9,2]
sum = 0
for num in list:
    sum=sum+num
print(sum)

83

In [14]:
list = [3,54,7,8,9,2]
len(list)

6

# range()---create a series of data

In [15]:
range(10)

range(0, 10)

In [17]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [18]:
range(int(10))

range(0, 10)

In [19]:
#printing 1-10 using for loop and range function
for j in range(1,11):
    print(j)

1
2
3
4
5
6
7
8
9
10

In [21]:
#even numbers using range (1-20)
for i in range(2,21,2):
    print(i)

2
4
6
8
10
12
14
16
18
20

In [22]:
#number at an increment of 5 from 0 to 40
for j in range(0, 41, 5):
    print(j, end= "  ")

0  5  10  15  20  25  30  35  40

In [24]:
for l in range (0,41,5):
    print(l)

0
5
10
15
20
25
30
35
40

In [29]:
for i in range(-100,-10,10):
    print(i)

-100
-90
-80
-70
-60
-50
-40
-30
-20

In [34]:
for neg in range(-10,11):
    print(neg)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
0
1
2
3
4
5
6
7
8
9
10

In [35]:
x= int(input("enter a number"))
for num in range(1, 11):
    print(num*x, end=" ")

enter a number5
5 10 15 20 25 30 35 40 45 50

In [ ]:
####