# Nested for loop

In [5]:
#table of a 5 using nested for loop
for i in range(1,11):
    for j in range(1,11):
        print (i*j, end=" ")
    print()

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [ ]:
#table of 5 ---- 5 * 1 = 5
#5 * 2 =10

In [8]:
for i in range(5,6):
    for j in range(1,11):
        print(i, "*", j, "=", i*j)
    #print()

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [15]:
a=int(input("enter a number"))
for i in range(1,11):
    print(f'{a} * {i} = {a*i}')
    #print(a, "*", i, "=", a*i)

enter a number3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [12]:
n=int(input("enter any number"))
for i in range(n,n+1):
    for j in range(1,11):
        print(i, "*", j, "=", i*j)
    print()

enter any number5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [21]:
#factorial using for loop
a=int(input("Enter a number"))
f=1
for i in range(1,a+1):
    f=f*i
print(f)

Enter a number4
24

# List comprehension
#to create a list with numbers which are sqrare of 1-10]

In [36]:
sqr = []
for i in range(1,11):
    a=i*i
    sqr.append(a)
print(sqr)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [37]:
[i*i for i in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [39]:
sqr = []
for i in range(1,11):
    sqr.append(i)
print(sqr)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [42]:
# create a list with numbers which are sqrare of 1-10 but only for even number
sqr = []
for i in range(1,11):
    if i%2==0:
        a=i*i
        sqr.append(a)
print(sqr)

[4, 16, 36, 64, 100]

In [43]:
[i*i for i in range(1,11) if i%2==0]

[4, 16, 36, 64, 100]

In [44]:
#prepare a list of numers starting from 1 -  30 and should be divisable by both 2 and 3
numb = []
for i in range(1,31):
    if i%2==0 and i%3==0:
        numb.append(i)
print(numb)

[6, 12, 18, 24, 30]

In [47]:
[i for i in range(1,31) if i%2==0 and i%3==0]

[6, 12, 18, 24, 30]

In [52]:
#create a list of 3 element and print them 5 times each in a row
fruits = ["orange", "mango", "banana"]
for fruit in fruits:
    a=1
    while a<6:
        print(fruit,end=" ")
        a=a+1
    print()

orange orange orange orange orange
mango mango mango mango mango
banana banana banana banana banana

In [53]:
numb

[6, 12, 18, 24, 30]

In [54]:
numb2 = [1,2,3,2,3,4,3,2,6,7,8,6,4,3]

In [59]:
numb2.count(3)

4

In [60]:
numb2.index(3)

2

In [61]:
numb3=enumerate(numb2)

In [62]:
print(numb3)

<enumerate object at 0x00000244FB652300>

In [65]:
for index,value in enumerate(numb2):
    print(index,value)

0 1
1 2
2 3
3 2
4 3
5 4
6 3
7 2
8 6
9 7
10 8
11 6
12 4
13 3

In [66]:
[index for index,value in enumerate(numb2) if value==2]

[1, 3, 7]

# function

In [68]:
def even_odd(a):
    if a%2==0:
        print(a,"is an even number")
    else:
        print(a,"is an odd number")

In [69]:
even_odd(45)

45 is an odd number

In [70]:
even_odd(56)

56 is an even number

In [71]:
#function to compute factorial of a number
def fact(a):
    f=1
    for i in range(1,a+1):
        f=f*i
    print(f)

In [72]:
fact(3)

6

In [73]:
fact(6)

720

In [74]:
fact(5)

120

In [75]:
#fucntion for addition of two number
def add(a, b):
    f=a+b
    print (f)

In [78]:
def add(a,b):
    sum=a+b
    print(sum)

In [79]:
add(227754,82642639)

82870393

In [81]:
def add(a,b):
    y=a+b
    print(y)

In [82]:
add(3,7)

10

In [83]:
def add(a,b):
    addition=a+b
    print(addition)

In [85]:
add(5,7)

12

In [86]:
def addc(a, b):
    f=a+b
    print (a, "+", b, "=", f)

In [87]:
addc(5,8)

5 + 8 = 13

# Homework

In [ ]:
'''
write a fuction 
1. to find the largest number among three
2.check whether a number is an armstrong number or not (for 3 digit number)
3. for multiplication of three numbers