# Function

In [1]:
#1 -  inbuilt--  
mylist = [1,2,3,4,5]

In [2]:
len(mylist)

5

In [3]:
print(mylist)

[1, 2, 3, 4, 5]

In [4]:
type(mylist)

list

In [5]:
# user defined function
def addition(a,b):
    c=a+b
    print(c)

In [6]:
addition(3,6)

9

In [7]:
addition(10.56,56.62)

67.17999999999999

In [8]:
def addition1(a,b):
    c=a+b
    return c

In [9]:
addition1(6,9)

15

In [10]:
#1. to find the largest number among three
def largest3(a,b,c):
    if a>b and a>c:
        print(a, "is the largest")
    elif b>a and b>c:
        print(b, "is the largest")
    else:
        print(c, "is the largest")

In [11]:
largest3(167,254,826)

826 is the largest

In [12]:
def largest3(a,b,c):
    if a>b and a>c:
        return a
    elif b>a and b>c:
        return b
    else:
        return c

In [15]:
largest3(243,83,9826)

9826

In [16]:
def largest(a,b,c):
    if a>b and a>c:
        print(a, "is the largest number")
    if b>a and b>c:
        print(b, "is the larget number")
    if c>a and c>b:
        print(c, "is the largest number")

In [17]:
largest(3,4,5)

5 is the largest number

In [18]:
def arms(a): #153-----(1*1*1)+(5*5*5)+(3*3*3)
    b=a
    sum=0
    while a!=0:
        r=a%10
        sum=sum+(r**3)
        a= int(a/10)
    if sum==b:
        print(b, "is a armstrong number")
    else:
        print(b, "is not a armstrong number")

In [19]:
arms(567)

567 is not a armstrong number

In [20]:
arms(407)

407 is a armstrong number

In [21]:
(153)

153

In [22]:
arms(153)

153 is a armstrong number

In [25]:
#mulptilication of 3 numbers
def mult(a,b,c):
    d=a*b*c
    return d

In [26]:
mult(3,4,5)

60

# function with variable number of arguments

In [27]:
def sum_all(*variable):
    sum=0
    for i in variable:
        sum=sum+i
    return sum

In [28]:
sum_all(2,3,4,5,6,6)

26

In [29]:
sum_all(2,3,4,7,5,6,3,2,4,4,5,5,7)

57

In [30]:
# multiplication
def mult(*asyrofi):
    x=1
    for a in asyrofi:
        x=x*a
    return x

In [31]:
mult(2,3,4)

24

In [32]:
def multipleofall(*variable):
    mul=1
    for i in variable:
        mul=mul*i
    return mul

In [33]:
multipleofall(4,5,10)

200

In [34]:
#anonymous function --- lambda function
add = lambda a,b: a+b

In [35]:
add(3,4)

7

In [36]:
#write a program using lambda fuction for power --- 
power=lambda a,n: a**n

In [37]:
power(2,5)

32

In [38]:
power(5,2)

25

In [39]:
pow = lambda a,b: a**b

In [40]:
pow(2,5)

32

In [41]:
#square using function
square = lambda a:a*a

In [42]:
square(5)

25

In [43]:
square(9)

81

In [44]:
#program with default parameter
def getnames(name='Ravi'):
    print("my name is", name)

In [46]:
getnames("Anurag")

my name is Anurag

In [47]:
getnames("asyrofi")

my name is asyrofi

In [48]:
getnames()

my name is Ravi

In [49]:
getnames("Prajjwal")

my name is Prajjwal

In [50]:
#fucntion for power
def pow1(a,b=2):
    return a**b

In [51]:
print(pow1(2,3))#2*2*2

8

In [52]:
print(pow1(5))

25

In [53]:
pow1(4)

16

In [54]:
square=lambda a:a**2

In [55]:
square(5)

25

In [56]:
y=lambda a,b,c,d: (a*b)+(c*d)

In [57]:
y(1,2,3,4)

14

In [62]:
#nationality of the students
def nation(name,nationality="American"):
    print("This is", name, "from", nationality)

In [63]:
nation("nattawat", "Thailand")

This is nattawat from Thailand

In [64]:
nation("Marjia","Bangladesh")

This is Marjia from Bangladesh

In [65]:
nation("Ganesh")

This is Ganesh from American

In [95]:
def greet(*name,gr="Have a nice day ahead"):
    for i in name:
        print(*name[0], gr)

In [96]:
greet("Nattwat")

N a t t w a t Have a nice day ahead

# Write a program to find the absolute value of a number.

In [97]:
def absolut (*num):
    c = abs(*num)
    return c

In [98]:
absolut(5)

5

In [99]:
absolut(-6)

6

In [100]:
def abval(a,b=0):
    return a+b

In [102]:
def absn(a):
    if a>=0:
        return a
    else:
        return (-a)

In [103]:
absn(9)

9

In [104]:
absn(-50)

50

In [113]:
#5% GST--- plus your amount for your food
def bill(a):
    GST=a*(5/100)
    final_amount = a + GST
    print ("Food bill is", a)
    print ("GST is", GST)
    print("Please pay", final_amount)

In [114]:
bill(300)

Food bill is 300
GST is 15.0
Please pay 315.0

In [ ]:
def bill(b):
    print("Total cost of food", "=", b+b*.05)

# write a program to find the volume of a cube, cylinder, sphere and cone