# Dictionary data type

In [5]:
# unordered, changable (mutable), indexed # item - key:value
Arka = {"Name":"Ghosh" , "Age":24 , "Adress": "Kolkota" }

In [7]:
print(Arka)

{'Name': 'Ghosh', 'Age': 24, 'Adress': 'Kolkota'}

In [8]:
Arka.items()

dict_items([('Name', 'Ghosh'), ('Age', 24), ('Adress', 'Kolkota')])

In [9]:
print(Arka["Age"])

24

In [10]:
Arka.keys()

dict_keys(['Name', 'Age', 'Adress'])

In [11]:
Arka.values()

dict_values(['Ghosh', 24, 'Kolkota'])

In [12]:
#get
Arka.get("Name")

'Ghosh'

In [18]:
 #Replace
Arka["age"] = 22

In [14]:
print(Arka)

{'Name': 'Ghosh', 'Age': 24, 'Adress': 'Kolkota', 'age': 22}

In [15]:
len(Arka)

4

In [16]:
Arka["Age"] = 22

In [17]:
print (Arka)

{'Name': 'Ghosh', 'Age': 22, 'Adress': 'Kolkota', 'age': 22}

In [19]:
#Add an item

Arka["scholarship"] = 35000

In [20]:
print(Arka)

{'Name': 'Ghosh', 'Age': 22, 'Adress': 'Kolkota', 'age': 22, 'scholarship': 35000}

In [21]:
#Removing an item (pop)
Arka.pop("age")

22

In [22]:
print(Arka)

{'Name': 'Ghosh', 'Age': 22, 'Adress': 'Kolkota', 'scholarship': 35000}

In [23]:
Arka.popitem()

('scholarship', 35000)

In [59]:
print(Arka)

{'Name': 'Ghosh', 'Age': 22, 'Adress': 'Kolkota'}

In [60]:
#Set data type # unindex, unordered, no duplicate

Nat={"Orange", "Mango", "banana"}

In [61]:
type(Nat)

set

In [62]:
#availability of an item
print("Mango" in Nat)

True

In [63]:
print("jack fruit" in Nat)

False

In [64]:
#adding an item
Nat.add("Guava")

In [65]:
print(Nat)

{'Mango', 'Guava', 'Orange', 'banana'}

In [66]:
#more than one item
Nat.update(["Kiwi","grapes"])

In [67]:
print(Nat)

{'Mango', 'grapes', 'banana', 'Guava', 'Kiwi', 'Orange'}

In [68]:
len(Nat)

6

In [73]:
#removing an item using remove
Nat.remove("banana")

KeyError: 'banana'

In [70]:
print(Nat)

{'Mango', 'grapes', 'Guava', 'Kiwi', 'Orange'}

In [71]:
#remove an item using discard
Nat.discard("Kiwi")

In [72]:
print(Nat)

{'Mango', 'grapes', 'Guava', 'Orange'}

In [74]:
Nat.remove("Kiwi")

KeyError: 'Kiwi'

In [75]:
Nat.discard("Kiwi")

In [76]:
#clear the set
Nat.clear()

In [77]:
print(Nat)

set()

In [78]:
del Nat

In [79]:
print(Nat)

NameError: name 'Nat' is not defined

In [80]:
#Union, substaction, intersecton

a={"Mango", "Banana","Kiwi", "Apple", "Orange"}
b={"Guava", "Pine apple","Mango","litchi", "Banana"}

In [81]:
print(a)

{'Apple', 'Banana', 'Mango', 'Kiwi', 'Orange'}

In [82]:
print(b)

{'Banana', 'Mango', 'Pine apple', 'litchi', 'Guava'}

In [83]:
z=a.union(b)

In [84]:
print(z)

{'Apple', 'Mango', 'Banana', 'Pine apple', 'litchi', 'Guava', 'Kiwi', 'Orange'}

In [85]:
len(z)

8

In [86]:
x=a.intersection(b)

In [87]:
print(x)

{'Mango', 'Banana'}

In [88]:
y=a.difference(b)

In [89]:
print(y)

{'Kiwi', 'Apple', 'Orange'}

# Conditional constructs

In [90]:
'''
#If statement
if statement
 body 
'''
#x=5
x = input("enter a number")

enter a number5

In [91]:
x

'5'

In [92]:
x=5

In [93]:
print(x)

5

In [94]:
x = input("enter a string")

enter a string"Rajgir"

In [95]:
print(x)

"Rajgir"

In [96]:
y = input("enter a digit")

enter a digit8

In [97]:
y=8

In [98]:
y = input("enter a digit")

enter a digit8.4

In [99]:
print(y)

8.4

In [101]:
int(8.4)

8

In [102]:
float(8)

8.0