In [1]:
#data type

In [2]:
#integer
x=5

In [3]:
print(x)

5

In [4]:
type(x) #to check the data type of the object

int

In [5]:
x=15

In [6]:
x

15

In [7]:
print(x)

15

In [8]:
x=5/2

In [9]:
print(x)

2.5

In [10]:
type(x)

float

In [11]:
x=2j

In [12]:
type(x)

complex

In [13]:
a="i am a student"

In [14]:
type(a)

str

In [15]:
a="students"

In [16]:
print(a)

students

In [17]:
b="students:"arka","asrofy""

SyntaxError: invalid syntax (<ipython-input-17-01484a85182c>, line 1)

In [19]:
b="students:'arka','asrofy'"

In [22]:
b='students:arka,asrofy'

In [23]:
print(b)

students:arka,asrofy

In [24]:
#list is a collection of elements
asirofy=["orange", "mango", "banana"]

In [25]:
type(asirofy)

list

In [26]:
print(type(asirofy))

<class 'list'>

In [27]:
asirofy

['orange', 'mango', 'banana']

In [28]:
print(asirofy)

['orange', 'mango', 'banana']

In [29]:
#tuple starts with bracket
asirofy=("orange", "mango", "banana")

In [30]:
type(asirofy)

tuple

In [31]:
#set: starts with a curly bracket
asirofy={"orange", "mango", "banana"}

In [32]:
print(type(asirofy))

<class 'set'>

In [33]:
type(asirofy)

set

In [35]:
#dictionary
asirofy={"name":"asirofy","age":27}

In [37]:
type(asirofy)

dict

In [40]:
#strings operation
a="Bhubaneswar"

In [41]:
type(a)

str

In [42]:
len(a)

11

In [45]:
a.upper() #to convert the string in to upper case

'BHUBANESWAR'

In [46]:
a.lower()

'bhubaneswar'

In [47]:
b="    Nalada    "

In [48]:
len(b)

14

In [50]:
c=b.strip()

In [51]:
len(c)

6

In [52]:
d="Hello world"

In [53]:
d.replace("H","L")

'Lello world'

In [54]:
d

'Hello world'

In [55]:
d.replace("Hello","Hi")

'Hi world'

In [56]:
ab="Hello, world"

In [58]:
ab.split(",")

['Hello', ' world']

In [59]:
print(ab.split())

['Hello,', 'world']

In [60]:
ab="Hello: world"

In [61]:
ab.split(":")

['Hello', ' world']

In [62]:
d

'Hello world'

In [64]:
d.split(" ")

['Hello', 'world']

In [65]:
#indexing: 
a="NU Rajgir"

In [66]:
len(a)

9

In [67]:
a[0]

'N'

In [68]:
print(a[0])

N

In [70]:
a[0:3]

'NU '

In [71]:
a[3:9]

'Rajgir'

In [72]:
a[:7]

'NU Rajg'

In [73]:
a[3:]

'Rajgir'

In [74]:
#negative indexing
a[-1]

'r'

In [1]:
jupyter notebook list

SyntaxError: invalid syntax (Temp/ipykernel_13828/1373106854.py, line 1)

In [4]:
a= 'lepekola'

In [8]:
b = "ahmed"

In [10]:
b='ahmed'